Bottleneck @ file:///opt/miniconda3/conda-bld/bottleneck_1761937849374/work
brotlicffi @ file:///opt/miniconda3/conda-bld/brotlicffi_1764961161728/work
certifi @ file:///Users/ec2-user/croot/certifi_1767659142737/work/certifi
cffi @ file:///opt/miniconda3/conda-bld/cffi_1761832772717/work
charset-normalizer @ file:///opt/miniconda3/conda-bld/charset-normalizer_1761744841364/work
idna @ file:///opt/miniconda3/conda-bld/idna_1761912002779/work
numexpr @ file:///opt/miniconda3/conda-bld/numexpr_1762165517928/work
numpy @ file:///opt/miniconda3/conda-bld/numpy_and_numpy_base_1761579345363/work/dist/numpy-2.2.5-cp310-cp310-macosx_12_0_arm64.whl#sha256=cee7bef98ac83b78786789b80f44469231df1e3cf12ce327f909aa4ea0fcee88
packaging @ file:///opt/miniconda3/conda-bld/packaging_1761049079158/work
pandas @ file:///opt/miniconda3/conda-bld/pandas_1762332182781/work/dist/pandas-2.3.3-cp310-cp310-macosx_12_0_arm64.whl#sha256=15e77fd5caae22506c552ef9e15f2690708d3395500d8e3ac8ce5c5cf227c7a1
psycopg2-binary==2.9.11
pycparser @ file:///opt/miniconda3/conda-bld/pycparser_1757496094255/work
PySocks @ file:///opt/miniconda3/conda-bld/pysocks_1761753011241/work
python-dateutil @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_66ud1l42_h/croot/python-dateutil_1716495741162/work
python-dotenv @ file:///Users/ec2-user/croot/python-dotenv_1768559691955/work
pytz @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3bjczh6it0/croot/pytz_1752135865541/work
requests @ file:///opt/miniconda3/conda-bld/requests_1762359594551/work
six @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_03myqm7p6o/croot/six_1744271511946/work
tzdata @ file:///home/task_176829656558347/croot/python-tzdata_1768296637279/work
urllib3 @ file:///Users/ec2-user/croot/urllib3_1767810408374/work
